Button {
  -fx-background-color: #ff8f00;
  -fx-border-style: solid;
  -fx-border-width: 2;
  -fx-border-color: black;

  -fx-text-fill: black;
  -fx-font-family: "Arial Narrow";
  -fx-font-weight: bold;
  -fx-font-size: 1.7em;
  -fx-label-padding: 0;
  -fx-padding: 0;

}
Button Text {
  /*-fx-font-weight: bold;*/

}
.addport {
  -fx-opacity: 0.5;
}
.addport:hover {
  -fx-opacity: 1.0;
}
.port {

}
.port:hover {
  -fx-background-color: #fff500;
}
